/* Definições gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Cabeçalho */
header {
    background-color: #0073E6;
    color: white;
    padding: 20px;
    font-size: 1.2em;
}

header p {
    margin: 5px 0;
}

/* Seções */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

h2 {
    color: #0073E6;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #E0F7FA;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

/* Links */
a {
    color: #0073E6;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Imagens */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
}

/* Rodapé */
footer {
    background-color: #0073E6;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
